[MASTER]

[MESSAGES CONTROL]

disable=invalid-name,unused-argument,too-many-branches,too-many-locals,too-many-arguments,too-many-instance-attributes,broad-except,too-many-public-methods

[FORMAT]
max-line-length=120