[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
twine = "*"
wheel = "*"
autopep8 = "*"
secretstorage = "*"

[packages]
pyvisa = "==1.8"
pyvisa-py = "*"
pyserial = "*"
pyvisainstrument = {editable = true,path = "."}

[requires]
python_version = "3.7"
