attrs==17.3.0
autopep8==1.3.2
docutils==0.14
flake8==3.3.0
jmespath==0.9.3
mccabe==0.6.1
pluggy==0.6.0
py==1.5.2
pycodestyle==2.3.1
pylint==2.3.1
pyflakes==1.5.0
pyserial==3.4
pytest==3.3.0
python-dateutil==2.6.1
six==1.11.0
pyvisa==1.8
pyvisa-py==0.2
